
.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left:60%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-style: ARIAL #000000;
  color: #000000;
}


.App-link {
  color: #000000;
}



body {
  color: #000000;
  font-style: ARIAL;
  text-align: center;
  line-height: 1.4; 
  background-image: url('Logo.jpg');
  background-size:   325px 170px ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left 4px top 4px; 
}

.Background{
    background-image: url(Logo.jpg);
    background-position: left 10px top 10px;
    margin: 0;
    display: inline-block;
    width: 1350px;
    height: 900px;
    background-blend-mode: overlay;
    background-position: left top, center;
    background-repeat: no-repeat;
    background-size: "cover";
  }